SSH_HOST=dodgeballschool.nl
SSH_USER=dodgeballschool
SSH_PORT=26
SSH_PASS=                        # wachtwoord (of leeg laten als je SSH key gebruikt)
SSH_KEY=~/.ssh/dodgeballschool  # pad naar SSH key (of leeg laten)
REMOTE_DIR=public_html
